button {
    display: inline-block;
    height: 134px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 104px;
}

.close-image img {
    display: block; 
    width: 100%;
    
    cursor: grab;

}

.btn{
    margin: 7px 120px 0px 570px;
}

video{
    margin: 0px 0px 0px 370px;
    box-shadow: 8px 5px 24px 7px #175e96;
}

span{
    padding: 10px 130px;
    margin: 10px 10px 10px;
}

h1{
    font-family: sans-serif;
    font-size: xxx-large;
    color: #fccd04;
    margin: 7px 120px 0px 615px;
}

button {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    background-color: transparent;
    border-color:transparent;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
    font: 400 13.3333px Arial;
}

body {
    display: block;
    margin: 8px;
    background-image: url("imgs/background.jpg")
}

canvas{
    width: 150px;
}

/*navbar*/

ul {
  list-style-type: none;
    margin: -8px;
    padding: 0px 27px;
    background-color: #143358;
}

li {
  display: inline;
}